@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: white;
    background: black;
}

h1,
h2 {
    font-family: 'Roboto Serif', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#taxi {
    float: left;
    font-size: 280%;
    margin-left: 40px;
    margin: 2rem;
    color: yellow;
}

/*Game area*/

#tour{
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

#check {
    color: yellow;
    text-align: center;
    margin: 50px;
}

#check-dublin {
    display: flex;
    background-color: white;
    height: 70vh;
    width: 70vw;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 40px;
}

.question {
    text-align: center;

}

.name{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: grid;
}

.city{
    width: 50%;
    max-height: 70vh;
}

.guess-option {
    float: left;
    background-color: #00B8E6;
    color: white;
    border:double;
    padding: 5px;
    font-size: 20px;
    display: block;
    margin: 20px;
    margin-bottom: 5px;
    min-width: 300px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    cursor: pointer;
    float: left;
}

.guess-option:hover{
    background-color: hsl(72, 95%, 49%);

}

.results {
    margin: 5px auto;
    width: 50%;
    font-size: 1.2rem;
}

#marked {
    color: green;
    font-weight: bold;
}

#un-marked {
    color: red;
    font-weight: bold;
}

.answered {
    display: inline-block;
    padding: 40px;
}

hr{
    border-top: 1px solid hsl(61, 95%, 49%);
    width: 100%;
    margin: 5px 0;
}